body {
    overflow-x: hidden;
    font-family: "Times New Roman", Times, serif;
    background-color: hsla(60, 100%, 97%, .3); /*backround-color: Ivory (at .3 opacity)*/
}

@keyframes slideAppTitleFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideAppIntroFromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    20% {
        opacity: 0;
        transform: translateX(50px);
    }
    60% {
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideAppDirectionsFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    40% {
        opacity: 0;
        transform: translateX(-50px);
    }
    70% {
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInQuestions {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animate-question {
    0% {transform: translateX(0px);}
    21% {transform: translateX(-35px);}
    28% {transform: translateX(40px);}
    37% {transform: translateX(-25px);}
    50% {transform: translateX(12px);}
    66% {transform: translateX(-6px);}
    88% {transform: translateX(3px);}
}

@keyframes slideNicknameFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    25% {
        transform: translateX(0);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slidePreferencesGraphFromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    25% {
        transform: translateX(0);
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInArticle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.app-title {
    margin-top: -294px;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    color: hsl(195 25% 25%);
    animation: slideAppTitleFromLeft 1s ease;
}
.app-intro {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    color: hsl(195 25% 25%);
    font-size: 20px;
    line-height: 1.4;
    animation: slideAppIntroFromRight 1.2s ease;
}
.app-directions {
    line-height: 1.4;
    margin-bottom: 30px;
    list-style-position: inside;
    text-align: center;
    color: hsl(195 25% 25%);
    font-size: 24px;
    animation: slideAppDirectionsFromLeft 1.44s ease;
}
.question-block {
    border: 1px solid hsl(195 25% 35%);
    z-index: 100;
    color: hsl(195 25% 35%);
    user-select: none;
    animation: fadeInQuestions 1.728s ease;
}
.question {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.answer-container {
    display: flex;
    align-items: stretch;
    padding-bottom: 8px;
    margin-bottom: 5%;
}
.answer-container div {
    padding: 5px;
    font-size: 16px;
    line-height: 1.2;
}
.answer-1 {
    flex: 2;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3px;
}
.center-slider {
    flex: 3;
    margin-top: 2%;
    margin-bottom: 2%;
}
.answer-2 {
    flex: 2;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 3px;
}
.percent {
    position: absolute;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
}
.percent-left {
    text-align: center;
    left: 3%;
    width: 100px;
}
.percent-right {
    text-align: center;
    right: 3%;
    width: 100px;
}
.answer-graphs {
    position: absolute;
    background-color: hsl(359 25% 79%);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100px;
    z-index: -10;
    margin-left: 7%;
    margin-right: 7%;
    box-shadow: 5px 2px 9px 0px rgba(0,0,0,0.75);
}
.left-graph {
    left: 3%;
}
.right-graph {
    right: 3%;
}

input[type='range']::-moz-focus-outer {
    border: 0;
    outline: none;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: hsl(195 25% 35%);
  outline: none;
  opacity: 1;
  -webkit-transition: .5s;
  transition: opacity .5s;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.slider:hover {
  opacity: .5;
  transition: opacity .25s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: hsl(195 25% 79%);
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: hsl(195 25% 79%); /*background-color: lightblue*/
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

button {
    display: block;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    background-color: hsl(195 25% 79%); /*background-color: lightblue*/
    border: none;
    transition: all .15s ease;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;
}
button:active {
    transform: scale(1.05);
}
button:hover {
    background-color: hsl(359 25% 79%);
    opacity: .7;
    color: ivory;
    transition: all .15s ease;
}

.article {
    color: hsl(195 25% 25%);
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.4;
    animation: fadeInArticle 2s ease;
}
.title {
    text-align: center;
}
h2, h3 {
    margin-top: 30px;
    margin-bottom: 0px;
}
.h3-above-p-or-ol {
    margin-bottom: -12px;
}
p {
    margin-top: 16px;
    margin-bottom: 0px;
}
ul {
    margin-top: 4px;
    margin-bottom: 0px;
}
ol li {
    margin-top: 7px;
}
.nickname {
    font-size: 48px;
    text-align: center;
    line-height: 1;
}
.preferences-pairs {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: hsl(195 25% 35%);
    font-size: 24px;
    margin-top: 50px;
    user-select: none;
}
.graph-heading {
    flex: 1;
}
.preferences-graph-container {
    margin-top: -60px;
    display: flex;
    height: 314px;
    align-items: flex-end;
    justify-content: space-around;
    background-color: hsla(60, 100%, 97%, 1);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    text-align: center;
    color: hsl(195 25% 35%);
    font-size: 12px;
    user-select: none;
}
@media only screen and (max-width: 768px) {
    .preferences-graph-container {
        font-size: 10px;
    }
}
@media only screen and (max-width: 620px) {
    .preferences-graph-container {
        font-size: 9px;
    }
}
@media only screen and (max-width: 520px) {
    .preferences-graph-container {
        font-size: 8px;
    }
}
@media only screen and (max-width: 420px) {
    .preferences-graph-container {
        font-size: 7px;
    }
}
@media only screen and (max-width: 320px) {
    .preferences-graph-container {
        font-size: 6px;
    }
}

.preferences-graph-container-box {
    width: 11%;
}
.label {
    padding-bottom: 1px;
}
.preference {
    flex: 1;
    padding-top: 5px;
    transition: height 1s ease .5s;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 5px 2px 9px 0px rgba(0,0,0,0.75);
    text-shadow: 0px 0px 12px rgba(255, 255, 240, 1);
}
.graph-bar-left {
    background-color: hsl(359 25% 79%);
}
.graph-bar-right {
    background-color: hsl(195 25% 79%);
}
